@import "../../../styles/mixins";
@import "../../../styles/vars";

.singleMain {
  background-color: $color-lightGrey;   
  padding-bottom: 11px; 
 
 &__title {
  margin: 20px 0 14px 12px;
}

  &__columns {    
    columns: 2;
    gap: 11px;       
       
    padding-left: 12px;
    padding-right: 12px;
  }

  &__card {
    padding-bottom: 11px;
    break-inside: avoid;
    display: block;
    cursor: default;
  }
}
