@import "../../../styles/mixins";
@import "../../../styles/vars";

.singleMain {
  background-color: $color-lightGrey;   
  padding-bottom: 60px;
 
  &__title {
    margin: 20px 0 14px 12px;
  }

  &__columns {    
    columns: 2;
    gap: 11px;     
    padding-left: 12px;
    padding-right: 12px;
  }

  &__card {
    display: block;
    break-inside: avoid;    
    cursor: default;     
    padding-bottom: 11px;    
  }  
}