@import "../../../styles/mixins";
@import "../../../styles/vars";

.searchFilter {
  display: flex;
  gap: 10px;
  height: 64px;
  background-color: $color-white;
  border-bottom-left-radius: 16px; 
  border-bottom-right-radius: 16px; 
  box-shadow: 0px 13px 13px 0px rgba(0, 0, 0, 0.02);
  padding: 12px;

  &__searchPanel {
    @include flexCol();
    width: 300px;
    height: 40px;    
    background: $color-black04;       
    border-radius: 10px;     
    padding: 9px;    
  }

  &__inputSearch {
    width: 300px;
    height: 40px;
    @include setFont(14px, 500, $color-black);
    background: transparent;   
    border: none;
    outline: none;     
    caret-color: $color-black;
    padding-left: 10px;
  
    &::placeholder {
      @include setFont(14px, 500, $color-grey04);
      white-space: normal;
    }
  }
    
  &__searchIcon {
    @include svg(22px);      
  }
  
  &__btnFilter {
    @include flexCol();
    width: 40px;
    height: 40px;
    background: $color-black04;  
    border-radius: 10px;
    cursor: pointer; 

    &:active {
      box-shadow: 0 2px 4px rgba(1, 12, 16, 0.3);
      transform: translateY(-1px);
    }
  }

  &__filterIcon {
    @include svg(24px);
  // width: 20px;
  // height: 18px;
  }  
}