@import "vars";
@import "mixins";

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: $color-black;
  background-color: $color-white;
  font-family: $font-family;
  font-weight: 400;;
}

button,
button:focus,
button:focus-visible,
button:active,
a:focus-visible {
  outline: none;
  border: none;
}

a {
  text-decoration: none;
}

.wrapper {
  padding-bottom: 50px;
}

.container {
  max-width: 375px;
  width: 100%;
  margin: 0 auto;
 // box-sizing: content-box; 
}

.center {
  text-align: center;
}

.titleh1 {
  @include setFont(32px, 600);
}

.titleh2 {
  @include setFont(28px, 600);
}

.titleh3 {
  @include setFont(20px, 600);
}

.textBlueGreen {
  background: $color-blueGreen;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.textGreenLightGreen {
  background: $color-greenLightGreen;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btnNextPageContainer {
  width: 100%;
  @include flexCol(); 
  padding-bottom: 15px;
}

.btnNextPageFixedContainer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  background-color: $color-white;
}

.btnNextPage {
  width: 100%;
  max-width: 325px;
  height: 52px;
  line-height: 52px;
  text-align: center;
  @include setFont(16px, 700);
  background: linear-gradient(90deg, #a4f77e 0%, #a4f77d 50%, #a5f77e 100%);
  border-radius: 100px;

  &:hover,
  &:active {
    background: linear-gradient(90deg, #6dff60 0%, #afe356 100%);
    transition: $transition;
    cursor: pointer;
  }
}

// List

.list {
  margin: 30px 0 40px;

  li {
    list-style: none;
    position: relative;
    @include setFont(15px, 400);
    margin-bottom: 12px;
    padding-left: 25px;

    &::before {
      content: "";
      width: 14px;
      height: 14px;
      position: absolute;
      left: 1px;
      top: 3px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &::after {
      content: "";
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #fff;
      position: absolute;
      left: 3px;
      top: 5px;
    }
  }
}

.circleBlueGreen li::before {
  background: linear-gradient(90deg, #6dff60 0%, #56a4e3 100%);
}

.circleGreen li::before {
  background: linear-gradient(90deg, #6dff60 0%, #afe356 100%);
}

.categoryHalfImg {
  position: absolute;
  bottom: 0;
}

.redText {
  color: $color-red;
}