@import "vars";
@import "mixins";

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: $color-black;
  background-color: $color-white;;
  font-family: $font-family;   
}

button,
button:focus,
button:focus-visible,
button:active,
a:focus-visible {
  outline: none;
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
}

.pointer {
  cursor: pointer;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
 // max-width: 351px;
  max-width: 375px;
  width: 100%;   
  margin: 0 auto;
 // box-sizing:content-box;
  padding-left: 12px;
  padding-right: 12px;

  //padding-left: 20px;
  //padding-right: 20px;

  @include smScreenMedia {
    max-width: 576px;
   // padding-left: 16px;
   // padding-right: 16px;
  }  

  @include mdScreenMedia {
    max-width:7686px;
   // padding-left: 16px;
   // padding-right: 16px;
  }  
}

.center { 
  text-align: center;
}

.titleh1 {
  @include setFont(32px, 600);   
  line-height: 100%;
}

.titleh2 {
  @include setFont(28px, 600);   
}

.textBlueGreen{
 background: $color-blueGreen;
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}

.textGreenLightGreen{
  background: $color-greenLightGreen;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 }

.btnPrimary {
  display: block;
  height: 52px;
  line-height: 52px;  
  text-align: center;   
  @include setFont(16px, 700); 
  background: linear-gradient(90deg, #A4F77E 0%, #A4F77D 50%, #A5F77E 100%);
  border-radius: 100px;  

  &:hover {   
    background:   linear-gradient(90deg, #6DFF60 0%, #AFE356 100%);    
    transition: $transition;
    cursor: pointer;
  }
  
  &:active {
    transform: translateY(1px);
  }
}

// List

.list {  
  margin: 34px 0 40px; 
   
  li {
    list-style: none;         
    position: relative;
    @include setFont(16px, 500); 
    margin-bottom: 12px;     
    padding-left: 25px;  

    &::before {
      content: "";
      width: 14px;
      height: 14px;
      position: absolute;
      left: 1px;       
      top: 3px;  
      border-radius: 50%;     
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &::after {
      content: "";
      width: 10px; 
      height: 10px;
      border-radius: 50%;
      background-color: #fff;  
      position: absolute;
      left: 3px;         
      top: 5px; 
    }
  }
}
 
.circleBlueGreen li::before {
  background: linear-gradient(90deg, #6DFF60 0%, #56A4E3 100%);
}

.circleGreen li::before {
  background: linear-gradient(90deg, #6DFF60 0%, #AFE356 100%);
}

 

