// media

$xsm-screen: 375x;
$sm-screen: 576px;
$md-screen: 768px;

// font
$font-family: "Montserrat", sans-serif;

// Transition
$transition: all 0.3s;

// colors
$color-white: #ffffff;
$color-black: #2A2A2A;
$color-grey: #A1A1A1;
$color-green: #79DD4A;
$color-red: #FF4B4B;