// media
$xsm-screen: 375px;
$sm-screen: 576px;
$md-screen: 768px;

// font
$font-family: "Montserrat", sans-serif;

// Transition
$transition: all 0.3s;

// colors
$color-white: #ffffff;
$color-black: #2A2A2A; 
$color-black04: rgba(0, 0, 0, 0.04);
$color-grey: #A1A1A1;
$color-green: #79DD4A;
$color-blueGreen: linear-gradient(90deg, #009DDF 34.7%, #01D44A 66.82%, #9DCF00 98.94%);


$color-greenLightGreen: linear-gradient(90deg, #009DDF 0%, #01D44A 11.17%, #9DCF00 22.33%);

$color-red: #FF4B4B;