@import "../../../styles/mixins";
@import "../../../styles/vars";

.audienceMain {
  @include bgWebp(
    "../assets/images/audience/audienceBg.png",
    "../assets/images/audience/audienceBg.webp",
  );
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  transition: $transition;
  padding: 325px 20px 0;   
}