@import "../../../styles/mixins";
@import "../../../styles/vars";

.searchMain {
  background-color: $color-lightGrey;
  padding-bottom: 45px;

  &__categoryContainer {   
   padding-top: 12px;
   padding-bottom: 20px;    
  }

  &__btnGgradient {   
    @include setFont(14px, 700, $color-white);   
    background: linear-gradient(90deg, #009ddf 0%, #01d44a 50%, #9dcf00 100%);
    border-radius: 8px;   
    padding: 13px 11px;

    &:hover, &:active {     
      background: linear-gradient(90deg, #9dcf00 0%, #01d44a 50%, #009ddf 100%);  
      cursor: pointer;
    }
  }

  &__btnCategory {  
    @include setFont(14px, 600, $color-black, $font-familySecondary); 
    background-color: $color-white;
    border-radius: 8px;
    box-shadow: 0px 13px 13px 0px #00000005;
    padding: 12px 11px;  

    &:hover, &:active {     
      background-color: #E7E7E7;
      cursor: pointer;
    }
  }
}