@import "../../../styles/mixins";
@import "../../../styles/vars";

.searchMain {
  background-color: $color-lightGrey;
  padding-bottom: 16px;

  &__categoryContainer {   
    margin-top: 12px;
    //  padding: 0 12px;
  }

  &__btnGgradient {   
    @include setFont(13px, 700, $color-white);   
    background: linear-gradient(90deg, #009ddf 0%, #01d44a 50%, #9dcf00 100%);
    border-radius: 8px;   
    padding: 13px 11px;

    &:hover, &:active {     
      background: linear-gradient(90deg, #9dcf00 0%, #01d44a 50%, #009ddf 100%);  
      cursor: pointer;
    }
  }

  &__btnCategory {
    @include setFont(13px, 600);
    background-color: $color-white;
    border-radius: 8px;
    padding: 13px 11px;
    
    &:hover, &:active {     
      background-color: #E7E7E7;
      cursor: pointer;
    }
  }
}