@import "../../../styles/mixins";
@import "../../../styles/vars";

.categoriesMain {  
  padding: 20px 12px 85px;
  
  &__titleGradient {
    background: linear-gradient(
    90deg,
    #009ddf 8.7%,
    #01d44a 32.82%,
    #9dcf00 81.94%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

  &__text {
    @include setFont(14px, 400);
    margin: 10px 0 20px;
  }

  &__cardContainer { 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
  }

  &__category {
    @include flexCol();
    flex-direction: column;  
    aspect-ratio: 1 / 1;
    position: relative;
    background-color: $color-black04;
    border-radius: 10px;  

    &:hover, &:active {     
      cursor: pointer;
      box-shadow: 0 0 0 2px $color-green;
    }
  }

  &__categoryTitle {
    @include setFont(14px, 600, $color-black, $font-familySecondary);
  }

  &__categoryImgPosition {    
    @include flexCol();       
  }

  &__categoryImg {
    width: 100%;
    max-width: 65%;
    transition: $transition;
    margin-top: 10px;

    &_half {
      position: absolute;
      bottom: 0;
      max-width: 60%;
    }
  }

  &__categoryImgContainer {
    @include flexCol();
    width: 100%;
    height: 70px;
  }  
}