@import "../../../styles/mixins";
@import "../../../styles/vars";

.card {
  max-width: 231px;
  width: 100%;
  background-color: $color-white;
  border-radius: 12px;  
  padding: 6px;

  &__title {
    @include setFont(14px, 600,);   
    margin: 10px 0;
  }

  &__header {
    position: relative;
    height: 100px;
    @include flexCol();
    flex-direction: column;
    background: linear-gradient(291.38deg, #CAD2FF 2.07%, #8D98FF 97.65%);
    border-radius: 8px;
  }

  &__profileContainer {
    @include flexCol(); 
    position: absolute;
    top: 6px;
    left: 7px;     
  }
  
  &__profilePhoto {
   width: 30px;
   height: 30px;
   border-radius: 50%;
   border: 2px solid $color-white;
  }

  &__username {
    @include setFont(12px, 700, $color-white);
    margin-left: 7px;
  }
  




  &__infoContainerBig {
    display: flex;
    flex-wrap: wrap;
    gap: 9px;
    @include setFont(12px, 500);   
  }

  &__infoContaineSmall {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    @include setFont(10px, 500, $color-black08);   
  }


  

  &__greyPanel {
    background-color: $color-black03;
    border-radius: 6px;
    padding: 6px 8px;
  }

  &__greyLine {
    border: 1px solid #F3F3F3;
    margin: 12px 0;
  }

  &__iconPosition {
    @include flexCol();
    gap: 4px;
  }

.icon {
  background-size: contain;  
  background-position: center;
  background-repeat: no-repeat;
}
  
  &__clockIcon {
    @extend .icon;
    width: 15px;
    height: 15px;
    background-image: url("../../../assets/images/icons/clock.svg");    
  }

  &__locationIcon {
    @extend .icon;
    width: 16px;
    height: 16px;
    background-image: url("../../../assets/images/icons/location.svg");     
  }
  
 
   
}


//$color-black08

/*
VIdeogame 

background: linear-gradient(291.38deg, #CAD2FF 2.07%, #8D98FF 97.65%);

Meetup

background: linear-gradient(291.38deg, #CAD2FF 2.07%, #8D98FF 97.65%),
linear-gradient(291.38deg, #FFCADA 2.07%, #FF8D9A 97.65%);

tvorchestwo

background: linear-gradient(291.38deg, #EBCAFF 2.07%, #EC8DFF 97.65%);

Kulxtura

background: linear-gradient(291.38deg, #7CE0F3 2.07%, #C7A8FF 50.06%, #FF7D94 97.65%);

travel

background: linear-gradient(291.38deg, #CAD2FF 2.07%, #4CBFC9 97.65%);

progulki

background: linear-gradient(291.38deg, #E2FFCA 2.07%, #69C249 97.65%);


*/