@import "../../../styles/mixins";
@import "../../../styles/vars";

.aboutMain {     
  @include bgWebp(
    "../assets/images/about/aboutBg.png",
    "../assets/images/about/aboutBg.webp",
  );
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  transition: $transition;
  padding: 322px 20px 0;  

  &__aboutMainText {   
    margin-top: 10px;
  }
}